<label>Directives</label>
<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<p>{{ serverName }}</p>
<button 
class="btn btn-primary" 
(click)="onButtonClick()"
>Display Details</button>
<p *ngIf="tunaVisible">Secret password = 'tuna'</p>
<app-server *ngFor="let server of servers"></app-server>
<table>
    <th>Time Button Was Clicked</th>
<ng-container *ngFor="let buttonClick of buttonClicks"><tr [ngClass]="{over5: moreThanFive}">{{ buttonClick }}</tr></ng-container>

</table>